footer {
    margin-top: 5rem
}

.navbar {
    position: fixed;
    top: 0; /* Ajoutez ceci */
    left: 0 !important; /* Ajoutez ceci */
    width: 100% !important; /* Remplacez 100vw */
    padding: 1rem 0;
    margin: 0 !important; /* Remplacez margin-top négatif */
    height: auto; /* Remplacez height fixe */
    z-index: 1000;
    background: white;
    box-shadow: -2px 5px 20px -15px rgba(0,0,0,0.74);
    
}


.logo {
    max-width: 35%;
}

.logout{
    padding-left: 1rem;
}

.nav a {
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

.nav {
    padding-right: 2rem
}

.main_content{
    padding-top: 10%;
    position: relative;
    z-index: 1;
    top: 0;
}

#id_rating{
    display: flex
}

#id_rating div{
    padding-right: 0.5rem;
}